services:
  timeseries-writer:
    image: ghcr.io/redpanda-data/connect
    container_name: rabbitmq-timescale-writer
    command: ["-w", "-c", "/connect.yaml"]
    volumes:
      - ./writers/rabbitmq/timescale/config.yaml:/connect.yaml
      - ./writers/rabbitmq/timescale/init_metrics_table.sql:/init_metrics_table.sql
    environment:
      RABBITMQ_SUBSCRIBE_URL: "amqp://${RABBITMQ_ADMIN_USER}:${RABBITMQ_ADMIN_PASSWORD}@broker:5672"
      RABBITMQ_SUBSCRIBE_QUEUE: timescale-writer
      TIMESCALE_USER: tsdbadmin
      TIMESCALE_ADMIN_PASSWORD: ${TIMESCALE_ADMIN_PASSWORD}
