global:
  scrape_interval: 15s

scrape_configs:
  ############################### DEV ###################################
  - job_name: "pathfinder-dev"
    static_configs:
      - targets:
          - "node-exporter:9100"
          - "cadvisor:8080"
          - "rabbitmq:15692"
          - "haproxy:8405"
    relabel_configs:
      - source_labels: [__address__]
        target_label: "environment"
        replacement: "pathfinder-dev"
      - source_labels: [__address__]
        target_label: host
        replacement: "pathfinder-dev"

  - job_name: "rabbitmq-detailed-pathfinder-dev"
    metrics_path: "/metrics/per-object"
    params:
      family: ["queue_coarse_metrics"]
    static_configs:
      - targets:
          - "rabbitmq:15692"
    relabel_configs:
      - source_labels: [__address__]
        target_label: "environment"
        replacement: "pathfinder-dev"
      - source_labels: [__address__]
        target_label: host
        replacement: "pathfinder-dev"
